section {
    display: flex;
    /* height: 500px; */
    text-align: center;
}

.box1 {
    border: 2px solid;
    width: 200px;
    margin: 15px;
}

.box11 {
    border: 2px solid;
    padding: 15px;
    background-color: navy;
}

.box12 {
    border: 2px solid;
    padding: 15px;
    background-color: aqua;
}

.box13 {
    border: 2px solid;
    padding: 30px;
    background-color: rgb(202, 26, 184);
}

.box14 {
    border: 2px solid;
    padding: 25px;
    background-color: navy;
}

.box15 {
    border: 2px solid;
    padding: 25px;
    background-color: orange
}

.box16 {
    border: 2px solid;
    padding: 30px;
    background-color: lightgreen;
}

.box17 {
    border: 2px solid;
    padding: 25px;
    background-color: lightskyblue;
}

.box2 {
    border: 2px solid;
    width: 30%;
    margin: 10px;
    display: grid;
}

.box21 {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: navy;
}

.box22 {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: aqua;
}

.box23 {
    grid-row-start: 3;
    grid-row-end: 6;
    background-color: rgb(202, 26, 184);
}

.box24 {
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: navy;
}

.box25 {
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: orange
}

.box26 {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: lightgreen;
}

.box27 {
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: lightskyblue;
}

.box3 {
    border: 2px solid;
    width: 900px;
    margin: 10px;
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 7;
}

.box31 {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: navy;
}

.box32 {
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: aqua;
}

.box33 {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgb(202, 26, 184);
}

.box34 {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: navy;
}

.box35 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: orange;
}

.box36 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: lightgreen;
}

.box37 {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: lightskyblue;
}